[req]
prompt = no
default_md = sha256
default_bits = 2048
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = TW
ST = Taiwan
L = Taipei
O = Arcran Inc.
OU = RD
emailAddress = carlos@arcran.com
CN = docker

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.localhost
DNS.2 = localhost
DNS.3 = *.docker.example.com
DNS.4 = docker.example.com
DNS.5 = api.docker.example.com